/*-------Class CSS ------*/
.overview {
    background-color: #EFEAE7;
}

.footer {
    background-color: #540b0da2;
}
body{
    background-color:#ddddddff;
}

.noborder td,
.noborder th {
    border:0px;
}

th h1{
    font-family:serif;
    font: 90px;
}


.icon-white {
    color: #FFFFFF;
}


.table td{
    font-size:20px;
}

.showcase {
    background-color: #D6A99A;
}

.nb-bg-color {
    background-color: #718ca0ff;
}
.signInPage{
    background-color:#ddddddff;
}


/* Navbar CSS */
.hover-underline-animation {
    display: inline-block;
    position:relative
    /*color: #0087ca;*/
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: -8%;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}
a#nbMenuItem{
    font-size: 25px;
    margin:auto;
    color: #FFFFFF;
    font-weight:bold;
    padding-right:30px;
} 



.navbar{
    border-radius: 30px;
    height:10%;
    padding-top:-5%;
}
.navbar-brand {
    width:130px;
    height:100%;
}
/* Chart JS CSS */
.accelChart{
    margin: 50px auto;
    background-color: white;
    border: 5px solid #718ca0ff;
    border-radius:5px;
    width: 80%;
    padding: 10px;
}
.EMGChart{
    margin: 50px auto;
    background-color: white;
    border: 5px solid #718ca0ff;
    border-radius:5px;
    width: 80%;
    padding: 10px;
}







/* About Us Components */
.gridSystem{
    display:grid;
    grid-template-columns: repeat(2, 45%);
    grid-auto-rows: 45%;

}
.peopleCard {
  display: grid;
  width: 80%;
  max-width: 350px;
  height: 450px;
  border-radius: 10px;
  
}

.peopleCard > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}


.cardText {
  height: 55%;
  padding: 5% 20px 30px;
  background: rgba(0, 0, 0, 0.25);
  
}

@media (any-hover: hover)  {
  /*Changes card properties and moves text before and after hovering*/
    .cardText {
    transform: translateY(60%);
    transition: transform 400ms ease-out;
  }
  .peopleCard {
    transform: scale(1);
    transition: transform 400ms linear;
  }

  .peopleCard:hover { 
    transform: scale(1.05);
    transition: transform 400ms linear;
  }
 
  .peopleCard:hover .cardText,
  .peopleCard:focus-within .cardText {
    transform: translateY(0);
    transition: transform 400ms ease-in;
  }
}
.details{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(35, 75, 83) 70.2%);
    height:15em;

}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid black;
}