{% extends "layout.html" %}

{% block content %}
    <!-- About the Author-->
    <section class="author">
        <div class="container">
            <br>
            <h1 class="text-center about-author">Meet the Team!</h1>
            <hr>
            <!--Cards Organized in a 2x2 table format and when hovering over card, the name of the person and information of their role shows up-->
            <div class="grid d-flex justify-content-center g-2">
            <div class="gridSystem g-2">
            <div class="peopleCard m-5 overflow-hidden ">
                <img
                  class="cardImage h-100 mw-100 object-fit-cover"
                  src="{{url_for('static', filename='/img/IMG_1500.JPG')}}" alt="Picture of Daniel"/>
                <div class="cardText d-flex align-self-end flex-column">
                    <h2 class="text-white">Daniel Zlotnick</h2>
                    <p class="cardDescr text-white p-3">
                      Add role in team
                    </p>
                </div>
            </div>
            <div class="peopleCard m-5 overflow-hidden ">
                <img
                  class="cardImage h-100 mw-100 object-fit-cover"
                  src="{{url_for('static', filename='/img/IMG_1500.JPG')}}" alt="Picture of Lauren"/>
                <div class="cardText d-flex align-self-end flex-column">
                    <h2 class="text-white">Lauren Fleming</h2>
                    <p class="cardDescr text-white p-3">
                      Add role in team
                    </p>
                </div>
            </div>
            <div class="peopleCard m-5 overflow-hidden ">
                <img
                  class="cardImage h-100 mw-100 object-fit-cover"
                  src="{{url_for('static', filename='/img/IMG_1500.JPG')}}" alt="Picture of Angelina"/>
                <div class="cardText d-flex align-self-end flex-column">
                    <h2 class="text-white">Angelina Otero</h2>
                    <p class="cardDescr text-white p-3">
                      Add role in team
                    </p>
                </div>
            </div>
            <div class="peopleCard m-5 overflow-hidden ">
                <img
                  class="cardImage h-100 mw-100 object-fit-cover"
                  src="{{url_for('static', filename='/img/IMG_1500.JPG')}}" alt="Picture of Owen"/>
                <div class="cardText d-flex align-self-end flex-column">
                    <h2 class="text-white">Owen Powell</h2>
                    <p class="cardDescr text-white p-3">
                      Add role in team
                    </p>
                </div>
            </div>
        </div>
    </div>
        </div>
        
    </section>
{% endblock %}