{% extends "layout.html" %}

{% block content %}
    <!-- About the Author-->
    <section class="author">
        <div class="container">
            <br>
            <h1 class="text-center about-author">About The Author</h1>
            <hr><br>
            <!--Horizontal line and line break-->
            <!--Cards Organized in a 2x2 table format-->

            <div class="card-container pb-5">
                <div class="card " id="about">
                    <img src="TremorWebsite\img\IMG_1500.JPG" class="card-img-top " alt="Daniel Zlotnick">
                    <div class="card-body">
                        <h4 class="card-title"> Daniel Zlotnick</h4>
                        <h5>Class: CSE</h5>
                        <p class="card-text">Daniel Zlotnick came up with an then performed the experiment. He also
                            wrote the research paper and created the entire website.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}