<!--
  TremorTrackr
  Owen Powell, Daniel Zlotnick, Lauren Fleming, Angelina Otero
  5/30/23
  Includes frequently asked questions under dropdowns
-->

{% extends "layout.html" %}

{% block content %}
<!-- FAQ page for the sensor, where the answers to the questions pop up when the question title is clicked -->
<h1 class="signInText1 redLine text-center faqtext">Frequently Asked Questions</h1>
<h5 class="signInText1  text-center faqtext">Click on a question for the answer </h5>
<div class="aboutUsTitle w-50"></div>


<div class="faq text-center m-5">
    <h2 class="signInText1 question">What is the TremorTrackr? </h2>
    <div class="childClass"></div>
    <p class="signInText1 answer">The TremorTracker is a wearable device—composed of a comfortable sweatband and a
        3D-printed box housing three different sensors (including an IMU sensor, EMG sensor, and Arduino Nano)—that
        allows users to track their tremors. This device works with an easy-to-use website to help individuals track
        their data and easily share it with their doctor. Our goal is to help individuals reduce tremor frequency and
        severity as much as possible to help them live a more comfortable life.</p>
</div>
<div class="faq text-center m-5">
    <h2 class="signInText1 question">How do I sign up?
    </h2>
    <div class="childClass"></div>
    <p class="signInText1 answer">Go to the “Sign In” page on our website. Then, register with TremorTracker by
        following the directions on the screen. When you are ready to sign in, you will just need to use your email and
        password.
    </p>
</div>

<div class="faq text-center m-5">
    <h2 class="signInText1 question">How do I use the TremorTracker?</h2>
    <div class="childClass"></div>
    <p class="signInText1 answer">See the“Procedure” page on our website for detailed steps on how to use the
        TremorTracker!
    </p>
</div>
<div class="faq text-center m-5">
    <h2 class="signInText1 question">Do I need to pay to use the website? </h2>
    <div class="childClass"></div>

    <p class="signInText1 answer">No, the website is completely free to use!
    </p>
</div>
<div class="faq text-center m-5">
    <h2 class="signInText1 question">How long can I wear the TremorTracker for?
    </h2>
    <div class="childClass"></div>

    <p class="signInText1 answer">You can wear the device for as long as you would like! However, once you are done
        collecting data, feel free to take it off.
    </p>
</div>
<div class="faq text-center m-5">
    <h2 class="signInText1 question">What information will the website provide me with? </h2>
    <div class="childClass"></div>
    <p class="signInText1 answer">The website will provide you with data on muscle activity, including the linear
        acceleration and angular velocity of your tremors. You will also be able to see accompanying graphs and charts.
    </p>
</div>
<div class="faq text-center m-5">
    <h2 class="signInText1 question">Does it matter which color electrode I place where?
    </h2>
    <div class="childClass"></div>
    <p class="signInText1 answer">No, the collected data will remain the same no matter which color electrode is placed
        at each location on the forearm.
    </p>
</div>
<div class="faq text-center m-5">
    <h2 class="signInText1 question">Do I need to place all three electrodes on my arm?
    </h2>
    <div class="childClass"></div>
    <p class="signInText1 answer">Yes, all three electrodes are needed to ensure that the most accurate data is
        obtained. This will help your doctor better understand your tremors and determine the proper course of action
        moving forward to help you better manage your tremors.
    </p>
</div>
<div class="faq text-center m-5">
    <h2 class="signInText1 question">Does it matter which arm I use to record data?
    </h2>
    <div class="childClass"></div>
    <p class="signInText1 answer">No, you can choose to use either your left or right arm for collecting data.
    </p>
</div>
<div class="faq text-center m-5">
    <h2 class="signInText1 question">Can I record tremors in both of my arms at the same time?
    </h2>
    <div class="childClass"></div>
    <p class="signInText1 answer">No, you can only collect data for one arm at a time.
    </p>
</div>

{% endblock %}