{% extends "layout.html" %}

{% block content %}
<!--Update data (adding a ride)-->
<div class="d-flex flex-row justify-content-center">
    <button type="button" id="startData" name="startData"
        class="data-button btn text-light mb-3 w-100">Start Collecting Data</button>
    <button type="button" id="stopData" name="stopData"
        class="data-button btn text-light mb-3 w-100">Stop Collecting Data</button>
</div>

<div class="data-chart d-flex justify-self-center align-content-center" >
    <canvas id="accelChart" class="d-flex align-content-center justify-content-center"  width="125" height="30"></canvas>
</div>
<div class="data-chart d-flex justify-self-center align-content-center" >
    <canvas id="EMGChart" class="d-flex align-content-center justify-content-center"  width="125" height="30"></canvas>
</div>
<div class="data-chart chart-div d-flex justify-self-center align-content-center" >
    <canvas id="calcChart" class="d-flex align-content-center justify-content-center"  width="125" height="50"></canvas>
</div>
{% endblock %}

