{% extends "layout.html" %}

{% block content %}
<!--Update data (adding a ride)-->
<body>
    <div class="accelChart d-flex justify-self-center align-content-center" >
        <canvas id="accelChart" class="d-flex align-content-center justify-content-center"  width="125" height="30"></canvas>
    </div>
    <div class="EMGChart d-flex justify-self-center align-content-center" >
        <canvas id="EMGChart" class="d-flex align-content-center justify-content-center"  width="125" height="30"></canvas>
    </div>
    <div class="calculatedDataChart d-flex justify-self-center align-content-center" >
        <canvas id="calcChart" class="d-flex align-content-center justify-content-center"  width="120" height="30"></canvas>
    </div>

    
</body>
{% endblock %}

