{% extends "layout.html" %}

{% block content %}
    <!-- Showcase-->
    <section class="showcase text-dark p-2 text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 p-0 d-flex align-items-center">
                    <img class="img-fluid w-50" src="img/Full SEtup (1).jpg" alt="experiment setup">
                </div>
                <div class="col-sm-6 p-0 d-flex align-items-center">
                    <div class="container" id="title1">
                        <h1 class="display-4">A Materials Comparison In Minimizing Head Injury Severity from Falls</h1>
                        <h2>Reducing Head Injuries From Falls</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Overview-->
    <section class="overview text-dark p-2 text-left">
        <div class="container">
            <div class="row">

                <div class="col-sm-4 p-3">
                    <img class="img-fluid" src="img/Concussion is the most common type of brain injury.webp"
                        alt="Head injury image">
                </div>
                <div class="col-sm-8 p-3">
                    <h1 id="ovPadLeft">Background</h1>
                    <p class=" lead overview-font" id="ovPadLeft">Globally, children falling off chairs is a significant
                        problem that can result in life threatening or life changing injuries. Students today do not
                        have the balance and core strength seen in the past. This, along with a sharp increase in
                        fidgeting largely due to attention and sensory disorders, has led to a rise in the number of
                        children falling out of classroom chairs in recent years. Furthermore, children falling out of
                        chairs landing on rigid flooring can result in severe injuries. The most common injuries of a
                        fall in children are head injuries, which can even be life-threatening.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-8 p-3">
                    <h1 id="ovPadLeft">Rationale</h1>
                    <p class=" lead overview-font" id="ovPadLeft">The most effective flooring material to decrease
                        injury severity caused by falls in school should be identified and incorporated into classrooms.
                        Individuals that may benefit from this research include elementary school children, particularly
                        students with attention or sensory disorders, as well as other disabilities. This study will
                        also help to expand current knowledge of impact-absorbing materials.
                    </p>
                </div>
                <div class="col-sm-4 p-3">
                    <img class="img-fluid"
                        src="img/sws-learning-the-layers-of-laminate-graphic-640w-removebg-preview.png"
                        alt="Flooring Material layers">
                </div>
            </div>
            <div class="row">

                <div class="col-sm-4 p-3">
                    <img class="img-fluid" src="img/images.jfif" alt="Research practicum image">
                </div>
                <div class="col-sm-8 p-3">
                    <h1 id="ovPadLeft">Research Practicum</h1>
                    <p class=" lead overview-font" id="ovPadLeft">Research Practicum is a class in High Technology High
                        School that serves to teach students how to conduct research in an advanced setting. Throughout
                        the year, students conduct their own research project, create a research paper, and then have
                        the ability to submit this project to various competitions.</p>
                </div>
            </div>

        </div>
    </section>
{% endblock %}