{% extends "layout.html" %}

{% block content %}
+<!-- Detailed Trail Overviews -->


<div style="display: flex; justify-content: space-between; width: 100%;">
  <div style="flex-basis: calc(50% - 10px); background-color: black; border-radius: 10px; padding: 20px;">
    <h2 style="color: white; text-align: center; margin-top: 0;">Acceleration</h2>
    <p style="color: white;">Acceleration is a measure of the rate of change of velocity of an object. In tremor detection, acceleration is used to measure the movement of the limb or body part affected by tremors. Accelerometers can be used to measure acceleration and can be attached to a limb or worn as a wristband.</p>
    <p style="color: white;">Accelerometers can detect tremor patterns and differentiate between different types of tremors, such as essential tremor and Parkinson's disease tremors. This information can help doctors diagnose and monitor tremor disorders.</p>
    <p style="color: white;">Acceleration measurements can also be used to evaluate the effectiveness of treatments for tremor disorders, such as medication or deep brain stimulation.</p>
  </div>
  <div style="flex-basis: calc(50% - 10px); background-color: black; border-radius: 10px; padding: 20px;">
    <h2 style="color: white; text-align: center; margin-top: 0;">EMG</h2>
    <p style="color: white;">Electromyography (EMG) is a technique for measuring the electrical activity of muscles. In tremor detection, EMG can be used to measure the muscle activity of the limb or body part affected by tremors.</p>
    <p style="color: white;">EMG can help differentiate between tremor disorders and other movement disorders, such as dystonia. EMG can also help doctors monitor the progression of tremor disorders and evaluate the effectiveness of treatments.</p>
    <p style="color: white;">EMG can be performed using surface electrodes or needle electrodes. Surface electrodes are non-invasive and can be attached to the skin over the muscle being measured. Needle electrodes are invasive and are inserted into the muscle being measured.</p>
  </div>
</div>

{% endblock %}