{% extends "layout.html" %}

{% block content %}

<!-- Brief overview of the product, including a picture and description -->

<section class="aboutSensor bgcolor mb-4 mt-5">
  <div class=" m-5 rounded aboutSensorText p-3 ">
    <h2 class="signInText1 redLine text-center">What is TremorTrackr?</h2>
    <p class="signInText1">
      The TremorTrackr is worn via a comfortable sweatband with a box attached to the top on the wrist. The band is
      flexible, so it can fit on anyone.
      Three electrodes are attached to the upper arm, but are small enough to not impede on daily activities.
      The goal of the TremorTrackr is to monitor the severity and power of a tremor over time, to test the effectiveness
      of different medication,
      and to help doctors diagnose and monitor tremors in their patients.
    </p>
  </div>

  <div class="aboutSensorPicContainer align-content-center">
    <img src="{{url_for('static', filename='img/IMG-4126.jpg')}}" alt="Diagram of the Sensor"
      class="mt-3 aboutSensorPic align-content-center">
  </div>
</section>

<!--Interactive Circuit Diagram of the Sensor-->
<div class="mt-3 rounded aboutSensorText circuitTitle p-3 ">
  <h2 class="signInText1  text-center" id="cdTitle">Circuit Diagram</h2>
  <h5 class="signInText1 redLine text-center" id="cdSubtitle">Hover over a component for more information</h5>
</div>
<section class="circuitDiagram">

  <div class="circuitcontainer">
    <div class="image-container">
      <img src="{{ url_for('static', filename='img/circuitdiagram.png') }}" alt="Circuit diagram">
      <div class="interactive-section" data-info="IMU Sensor" id="imu-sensor"></div>
      <div class="interactive-section" data-info="Arduino Nano" id="arduino-nano"></div>
      <div class="interactive-section" data-info="Power Switches" id="power-switches"></div>
      <div class="interactive-section" data-info="EMG Sensor" id="emg-sensor"></div>
      <div class="interactive-section" data-info="Battery" id="battery-1"></div>
      <div class="interactive-section" data-info="Battery" id="battery-2"></div>
      <div class="interactive-section" data-info="Electrodes" id="electrodes"></div>
    </div>
    <div class="info-box">
      <h2 class="component-name"></h2>
      <p class="component-info"></p>
    </div>

  </div>
</section>


<!-- Two cards side by side that describe the sensors that get data received by tremorTrackr-->

<section class="emgaccel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mb-3 mt-3">
        <div class="p-3 rounded bgcolor signInText1 d-flex flex-column px-5" data-aos="fade-right">
          <div class="d-flex flex-grow-1 justify-content-left">
            <div class="flex-grow-1">
              <h2 class="text-center signInText1 redLine">Gyroscopy</h2>
              <p class="signInText1">
                Angular velocity is the rate of change of degrees with respect to time. Angular velocity data can be used to
                analyze and measure tremor movements in patients.
                A higher rate of angular velocity can be indicative of a higher tremor frequency or power.
                Gyroscope can be attached to different parts to record angular velocity data for tremor analysis.
              </p>
            </div>
            <div class="flex-grow-1 d-flex justify-content-end align-items-center m-2">
              <img src="{{url_for('static', filename='img/IMUsensor.jpg')}}" alt="Tremor" class="aboutSensorPic">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-3 mt-3 z-1">
        <div class="p-3 rounded bgcolor signInText1 d-flex flex-column px-5" data-aos="fade-left">
          <div class="d-flex flex-grow-1 justify-content-left">
            <div class="flex-grow-1">
              <h2 class="text-center">Electromyography</h2>
              <p id="emgInfo">Electromyography (EMG) is a technique used to measure the electrical activity of muscles.
                EMG data can be used to analyze and measure muscle activity during tremor movements in patients. EMG
                sensors can be attached to the skin or inserted into the muscle to detect and record muscle activity
                data.</p>
            </div>
            <div class="flex-grow-1 d-flex justify-content-end align-items-center">
              <img
                src="{{url_for('static', filename='img/d936b5f1-cb69-4bfc-a372-ea040198144f.6dc360cd1e842c1de22ae32da90d263a.jpeg')}}"
                alt="Tremor" class="aboutSensorPic">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <!--Animated Arrows pointing to the next step in the process of data analysis-->
  <div class="arrowAnimContainer">
    <div class=" arrowAnimContainer">
      <div class="leftArrow">
        <div class="arrow1 arrow arrow-first1"></div>
        <div class="arrow1 arrow arrow-second1"></div>
      </div>
      <div class="rightArrow">
        <div class="arrow1 arrow arrow-first1"></div>
        <div class="arrow1 arrow arrow-second1"></div>
      </div>
    </div>
  </div>
</section>
<!---Side by side cards that describe the raw data received from the sensor-->
<section class="dataRetrieval">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mb-3 mt-3">
        <div class="p-3 rounded bgcolor signInText1 d-flex flex-column px-5" data-aos="fade-right">
          <div class="d-flex flex-grow-1 justify-content-left">
            <div class="flex-grow-1">
              <h2 class="text-center">Raw Angular Velocity</h2>
              <p>The angular velocity in 3 axes are plugged into a formula to get the resultant
                angular velocity, which is the magnitude vector for each time.</p>
            </div>
            <div class="flex-grow-1 d-flex justify-content-end align-items-center m-2">
              <img src="{{url_for('static', filename='img/resultAccel.png')}}" alt="Tremor" class="aboutSensorPic w-75">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 mt-3 z-3">
        <div class="p-3 rounded bgcolor signInText1 d-flex flex-column px-5 z-3" data-aos="fade-left">
          <div class="d-flex flex-grow-1 justify-content-left z-3">
            <div class="flex-grow-1">
              <h2 class="text-center">Raw EMG Data</h2>
              <p id="emgInfo">The EMG sensor gets voltage values from the right extensor muscle</p>
            </div>
            <div class="flex-grow-1 d-flex justify-content-end align-items-center">
              <img src="{{url_for('static', filename='img/EMGfake data.jpeg')}}" alt="Tremor" class="aboutSensorPic">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="arrowAnimContainer">
    <div class=" arrowAnimContainer">
      <div class="leftArrow">
        <div class="arrow1 arrow arrow-first1"></div>
        <div class="arrow1 arrow arrow-second1"></div>
      </div>
      <div class="rightArrow">
        <div class="arrow1 arrow arrow-first1"></div>
        <div class="arrow1 arrow arrow-second1"></div>
      </div>
    </div>
  </div>
</section>
<!---Side by side cards that describe the data filtering-->

<section class="dataRetrieval">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mb-3 mt-3">
        <div class="p-3 rounded bgcolor signInText1 d-flex flex-column px-5" data-aos="fade-right">
          <div class="d-flex flex-grow-1 justify-content-left">
            <div class="flex-grow-1">
              <h2 class="text-center">Angular Velocity Filtering</h2>
              <p>The angular data is filtered using a butterworth filter of the fourth order.
                The angular data higher than 20 and lower than 0.5 were cut out.</p>
            </div>
            <div class="flex-grow-1 d-flex justify-content-end align-items-center m-2">
              <img src="{{url_for('static', filename='img/accelFiltering.png')}}" alt="Tremor" class="aboutSensorPic">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3 mt-3 z-3">
        <div class="p-3 rounded bgcolor signInText1 d-flex flex-column px-5 z-3" data-aos="fade-left">
          <div class="d-flex flex-grow-1 justify-content-left z-3">
            <div class="flex-grow-1">
              <h2 class="text-center">EMG Filtering</h2>
              <p id="emgInfo">EMG data is fed through a butterworth filter. A Hilbert Transform is performed, and the
                absolute value of the transformation is found, which is equal to the EMG envelope (core signal without
                noise). Finally,
                the signal is detrended to remove the effects of the DC component.
              </p>
            </div>
            <div class="flex-grow-1 d-flex justify-content-end align-items-center m-2">
              <img src=" {{url_for('static', filename='img/EMGFilter.jpg' )}}" alt="Tremor" class="aboutSensorPic">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="arrowAnimContainer">
    <div class=" arrowAnimContainer">
      <div class="leftArrow">
        <div class="arrow1 arrow arrow-first1"></div>
        <div class="arrow1 arrow arrow-second1"></div>
      </div>
      <div class="rightArrow">
        <div class="arrow1 arrow arrow-first1"></div>
        <div class="arrow1 arrow arrow-second1"></div>
      </div>
    </div>
  </div>
</section>
<!---Side by side cards that describe the power spectral density calculation-->

  <section class="aboutSensor PSD bgcolor mb-4 mt-3 mr-5 ml-5 rounded" >
    <div class=" m-5 rounded aboutSensorText p-3 ">
      <h2 class="signInText1 redLine text-center">Power Spectral Density</h2>
      <p class="signInText1">
        A function is used to calculate important features of the current data. Using this data,
                  the power spectral density (PSD) is calculated for both EMG and angular velocity data. This creates a
                  function of the power of the data per frequency. The frequency of the highest power in each graph is
                  then interpolated using a Gaussian function of the segments around it. The updated frequency is called the tremor dominant frequency (TDF), and both TDF's over the time frames for EMG and accelerometry are averaged. This is a
                  measure of the power of the tremor being recorded. The power that the frequency occurs at is also recorded.
      </p>
    </div>
  
    <div class="aboutSensorPicContainer align-content-center">
      <img src="{{url_for('static', filename='img/matplotimg.png')}}" alt="Diagram of the Sensor"
        class="mt-3 sensorPic align-content-center" style="top:-10vh;">
    </div>
  </section>
  






{% endblock %}