{% extends "layout.html" %}

{% block content %}
<!-- Portions of this code was adapted from https://codepen.io/RobVermeer/pen/japZpY-->
<!--Flipable cards with images and text for each step of the procedure-->
<div class="cardContainer">    

    <div class="proCards">
      <div class="procedureCard">
        <img style = "height:65%; "src="{{url_for('static', filename='img/prochand.jpg')}} " alt = "image of sensor on wrist">
        <h3>Step 1</h3>
        <p>Slide the pink wristband onto your wrist and make sure that the black box is facing up and does not slide.
        </p>
      </div>
      <div class="procedureCard">
        <img style = "height:65%;" src="{{url_for('static', filename='img/proc2.jpg')}}" alt = "image of electrode without stick cover">
        <h3>Step 2</h3>
        <p>Remove the adhesive on the three electrodes and prepare to place them on your arm
        </p>
      </div>
      <div class="procedureCard">
        <img src="{{url_for('static', filename='img/proc3.png')}}" alt = "image of sensor electrode locations">
        <h3>Step 3</h3>
        <p>Place each of the electrodes onto your wrist, as indicated by the picture.</p>
      </div>
      <div class="procedureCard">
        <img src="{{url_for('static', filename='img/IndexPage.png')}}" alt = "image of TremorTrackr Website">
        <h3>Step 4</h3>
        <p>Go to the TremorTrackr website. (on a mobile device or computer, although a computer is recommended for larger graphics)</p>
      </div>
      <div class="procedureCard">
        <img src="{{url_for('static', filename='img/proc5.png')}}"alt = "register page of website ">
        <h3>Step 5</h3>
        <p>If you haven't created a TremorTrackr account, register with an email address and newly created password.
        </p>
      </div>
      <div class="procedureCard">
        <img src="{{url_for('static', filename='img/proc6.png')}}" alt = "signin page of website">
        <h3>Step 6</h3>
        <p>Sign into the TremorTrackr website with the email and password that you have been using to access your account and data.
        </p>
      </div>
      <div class="procedureCard">
        <img src="{{url_for('static', filename='img/proc7.png')}}" alt = "start collection button to collect data from sensor ">
        <h3>Step 7</h3>
        <p>When you are ready to start tracking your tremors, click the “Start Collecting Data” button on the screen.
        </p>
      </div>
      
      <div class="procedureCard">
        <img src="{{url_for('static', filename='img/procend.png')}}" alt = "stop collecting data button on website">
        <h3>Step 8</h3>
        <p>When you are finished, click the "Stop Collecting Data” button. Now view graphs of your collected data.

        </p>
      </div>
      <div class="procedureCard">
        <img src="{{url_for('static', filename='img/procdata.png')}}" alt = "Image of sample data">
        <h3>Step 9</h3>
        <p>The wristband can now be removed from your forearm and you can log out of the website. Your data will saved.
        </p>
      </div>
      <div class="procedureCard">
        <img class ="proc11" src="{{url_for('static', filename='img/proc11.jpg')}}" alt = "Image of doctor and patient reviewing TremorTrackr data">
        <h3>Step 10</h3>
        <p>Consult with a medical professional to analyze the TremorTrackr data. They will decide upon a treatment to reduce the severity.

        </p>
      </div>
    </div>
  <!-- Arrow keys associated with JS functions that change the current card -->
    <div class="arrowButtons">
        <button id="left" class="arrowProcedure leftProcedureArrow"></button>
        <button id="right" class="arrowProcedure rightProcedureArrow"></button>
      </div>
      
  </div>

  

  
{% endblock %}