{% extends "layout.html" %}

{% block content %}
    <section class="signInPage" style="height:713px;">
        <!--Sign in Functions in a Card-->
        <div class="container">
            <div class="row">
                <div class="col-lg-11 m-auto ">
                    <div class="card d-flex flex-row bg-transparent rounded " style="margin-top: 7%">

                        <img class="signinimage" src="../img/shakyHandsElder-1201217609-770x533-650x428.jpg" style="height:500px; width:700px">

                        <div class="d-flex justify-content-center align-items-center nb-bg-color flex-column flex-grow-1">


                            <div class="signin-card-body ">
                                <div class="card-title text-black align-self-baseline ">
                                    <h3 class="text-center text-light py-2 font-weight-bold mb-3 mt-5">Sign-In</h3>
                                </div>
                                <form>
                                    <input type="email" placeholder="Email" id="loginEmail"
                                        class="form-control mb-4 w-100">
                                    <input type="password" placeholder="Password" id="loginPassword"
                                        class="form-control mb-4 w-100">
                                    <div class="form-check form-switch mb-4">
                                        <input class="form-check-input " type="checkbox" role="switch"
                                            id="keepLoggedInSwitch">
                                        <label class="form-check-label text-light" for="flexSwitchCheckDefault">Keep me
                                            signed in</label>
                                    </div>
                                    <button type="button" id="signIn" name="signIn"
                                        class="btn text-light btn-light btn-outline-light  mb-3 w-100" style="background-color:var(--timelinepath);">Sign In</button>
                                    <a href="register.html" class="badge text-light mb-3 py-1 w-100">Don't have an
                                        account?</a>
                                    <div id="error" style="color:var(--timelinepath);">The username or password is incorrect</div>

                                    

                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}